.fit-w {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

div#welcome {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.form-row{
  display: flex;
  margin: 0 auto;
  gap: 6px;
}

.join-form {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.flex-1 {
  flex: 1;
}

input {
  background: rgba(70, 90, 126, 0.2);
  border: none;
  border-radius: 4px;
  color: #ebebeb;
  padding: 0.75rem 1.2rem;
  margin: 2px;
  font-size: 1rem;
}
::placeholder {
  color: #f6f6f6b7;
}
input.input-sec {
  background: #fff;
  color: #1e1e1e;
  border: 2px solid #7e84ff;
}
input:focus {
  outline: 4px solid #bbbbbb79;
  transition: outline 0.2s ease-in-out;
}

.italic {
  font-style: italic;
}

#editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(240, 149, 170);
  border: solid 1.5px rgb(202, 40, 202);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
}
button:active {
  outline: 4px solid #0000000a;
}

button.btn-white {
  color: #3958ef;
  background-color: #ebebeb;
}
button.btn-blue {
  color: #ebebeb;
  background-color: #3958ef;
}
button.btn-trans {
  border: 2px solid #ebebeb;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

button.btn-trans:hover {
  color: #7a7a7a;
  background-color: #ebebeb;
}
